<section id="contenido_prod">
    <div id="barra-menu" >
      <div id="menubtn">
          <h1 id="titulo_producto"  *ngIf = "generar_pedido">Seleccione pedido para generar pedido</h1><br>
          <h1 id="titulo_producto"  *ngIf = "!generar_pedido">Agregue al carrito</h1><br>
          <div class="btn_producto">
            <button id="Todos"  *ngIf = "!generar_pedido" type="button" class="btn btn-warning" data-intro="Si deseas ver todos nuestros productos, presiona este botón." data-step="1" (click) ="cargarProductos()">Todos</button>
            <button id="Tanques"  *ngIf = "!generar_pedido" type="button" class="btn btn-info" data-intro="Si deseas ver solo los tanques, presiona este botón.." data-step="2" (click) ="filtroTanque()">Tanques</button>
            <button id="Canecas"  *ngIf = "!generar_pedido" type="button" class="btn btn-success" data-intro="Si deseas ver solo las canecas, presiona este botón" data-step="3"(click) ="filtroCaneca()">Canecas</button>
            <button type="button" class="btn btn-success" *ngIf= "generado" (click)="generar();cargarContador();">Pedido</button>
            <button type="button" class="btn btn-success" *ngIf= "!generado" (click)="mostrarPedido();generar1()">Compra</button>
            <button type="button" class="btn btn-success" *ngIf= "btnSiguiente" (click)="mostrarPedido();generar1();generarForm()">Siguiente</button>
            <button type="button" class="btn btn-success" *ngIf= "btnGuardado" (click)="mostrarPedido();generar1();ocultarForm();guardarDatos();btnOff()">Guardar Items</button>


          </div>
      </div> 
    </div>

    <div *ngIf = "mostrarTabla">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id producto</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lista_muestra" >
            <th scope="row">{{item.product.codigo}}</th>
            <td>{{item.product.nombre}}</td>
            <td>{{item.cantidad}}</td>
            <td>{{item.product.precio}}</td>
            
          </tr>
          
        </tbody>
      </table>
  
    </div>

  <div id="productos-lista" *ngIf = "!generar_pedido">
    <div *ngFor="let producto of productoFiltrado" class="caja" (click)="getProducto(producto);">
      <img class="img_producto" src="assets/{{producto.imagen}}"  class = "imagenes">
      <div class="informacion_prod">
          <h3 class="nombres_prod">{{producto.nombre}}</h3>
          <small class="codigo_prod">{{producto.codigo}}</small>

      </div>
      </div>

  </div>

  

  
  </section >
  <section *ngIf="mostrarForm">
    <div class="login-box">
      <h1>Enviar pedido</h1>
      <form ngNoForm (submit)="guardarDatos()" action="http://localhost:8080/lista_pedidos/" method="POST">
          <!--ID-->
          <label for="id_pedido">id</label>
          <input id="id_pedido" name="id_pedido" type="text" [(ngModel)] ="counter">
          <!-- USERNAME INPUT -->
          <label for="nombre_ciente">nombre</label>
          <input id="nombre_ciente" name="nombre" type="text" placeholder="Ingrese sus nombres">
          <!--TELEFONO-->
          <label for="telefono">Teléfono</label>
          <input id="telefono" name="telefono" type="text" placeholder="su numero de telefono">
          <!-- PASSWORD INPUT -->
          <label for="direccion">Direccion</label>
          <input id="direccion" name="direccion" type="text" placeholder="Seleccione la ubicacion en el mapa" [(ngModel)]="posicionR" readonly>
            <google-map
              height="500px"
              width="100%"
              [center]="center"
              [zoom]="zoom"
              (mapClick)="moveMap($event)"
              (mapMousemove)="move($event)"
              (mapClick)="addMarker($event)">
              <map-marker
                [position]="markerPositions"
                [options]="markerOptions">
              </map-marker>
            </google-map>
            <br>
            <label for="estado">Estado</label>
            <input type="text" name = "estado" [(ngModel)] = "estado" readonly>

          <input type="submit" value="registrar pedido" >
      </form>
      </div>



  </section>

  <section>
    
  </section>
  <br>
  <br>
