<mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="nodb()">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let productos of data" value="{{productos.nombre}}" >{{productos.nombre}}</mat-option>

    </mat-select>
  </mat-form-field>
  
  <p>You selected: {{selected}}</p>

  <table id="ordenes" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre de Producto</th>
            <th>Código de Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
        </tr>
    </thead>
    <tbody id="ordenes_tablas">
      <tr *ngFor="let producto of datanodb">
          <td>{{producto.productoNombre}}</td>
          <td>{{producto.productoCodigo}}</td>
          <td>{{producto.stock}}</td>
          <td>{{producto.precio}}</td>
      </tr>
    </tbody>
</table>
