<div id="main" class="cMain" data-title="Bienvenido!" data-intro="Bienvenido a la Página web de Lubricantes Saldur" data-step="1" >
    <div >
     
        <h2>DISTRIBUIDORA DE  LUBRICANTES</h2>
      
      <h3>AL POR MAYOR Y MENOR</h3> 
      <!--<a routerLink="/productos"><button type="button" class="btn btn-info" data-intro="Presiona en el botón para conocer nuestros productos." data-step="2">Tutorial</button></a>-->

      <a routerLink="/productos"><button type="button" class="btn btn-danger" data-intro="Presiona en el botón para conocer nuestros productos." data-step="2">Productos</button></a>

   
    </div>



</div>
<div id="QuienesSomos" class="cQuienesSomos">
    <div id="QSomos">
        <h2>Quiénes Somos</h2>
        <p>Nosotros, Lubricantes Saldur, somos una compañia dedicada 
            a la comercialización de lubricantes, al por mayor y menor, a nivel
            nacional. Buscamos la satisfacción de nuestros clientes cumpliendo
            con sus expectativas y solucionando sus problemas.
        </p>
    </div>
    <div id="changes">
      <div id="mision">
          <h4>Misión</h4>
          <p>Comercializar aceites lubricantes de alta calidad a todos los sectores 
              productivos y consumidores; buscando el crecimiento a través la innovación 
              constante y la excelencia.
          </p>
      </div>
      <div id="vision">
          <h4>Vision</h4>
          <p>Ser una empresa global reconocida como la número uno en ventas y responsabilidad
              en los mercados donde tenemos una posición consolidada.
          </p>
      </div>
    </div>
</div>
<div id="NuestroEquipo">
<div class="Cabecera">
  <h2>Nuestro Equipo</h2>
</div>
<div class="Equipo">
   <div class="trabajador">
     <div class="imgTrabajadorAn">
      <img src="assets/img/fotos/photoMiguel.jpg" alt="image" width="250rem">
     </div>
       
       <h4>Marcos Salazar</h4>
       <p>Gerente General</p>
       <div class="social-media-group">
         <a href="#"><img src="assets/img/iconos/linkedin.png" alt="LinkedIn: " width="33rem"></a>
         <a href="#"><img src="assets/img/iconos/instagram.png" alt="Instagram: " width="33rem"></a>  
         <a href="#"><img src="assets/img/iconos/facebook.png" alt="facebook: " class="fb-icon" width="15rem"></a>
           
       </div>
   </div>

   <div class="trabajador">
        <div class="imgTrabajadorAn">
          <img src="assets/img/fotos/photoEdith.jpg" alt="image" width="188rem">
        </div>
       
       <h4>Edith Salazar</h4>
       <p>Marketing</p>
       <div class="social-media-group">
         <a href="#"><img src="assets/img/iconos/linkedin.png" alt="LinkedIn: " width="33rem"></a>
         <a href="#"><img src="assets/img/iconos/instagram.png" alt="Instagram: " width="33rem"></a>  
         <a href="#"><img src="assets/img/iconos/facebook.png" alt="facebook: " class="fb-icon" width="15rem"></a>    
       </div>
   </div>

   <div class="trabajador">
       <div class="imgTrabajadorAn">
          <img src="assets/img/fotos/photoAny.jpg" alt="image" class="imgTrabajador" width="230rem">
       </div>
       <h4>Aneyra Santos</h4>
       <p>Designer</p>
       <div class="social-media-group ">
         <a href="#"><img src="assets/img/iconos/linkedin.png" alt="LinkedIn: " width="33rem"></a>
         <a href="#"><img src="assets/img/iconos/instagram.png" alt="Instagram: " width="33rem"></a>  
         <a href="#"><img src="assets/img/iconos/facebook.png" alt="facebook: " class="fb-icon" width="15rem"></a>
       </div>
   </div>
 </div>
</div>  

