
<br>
<h1 class="titulo_developers">DEVELOPERS</h1>
<br>
<br>
      <section class="lista-developers">
         <div class=developer>
           <div>
            <img class="usuario user1" src="assets/img/fotosDevelopers/salazarRicardo.jpg" alt="image">
           </div>
           <div class="informacion"> 
            <h5>Ricardo Salazar</h5>
            <h6>Developer</h6>
            <p class="descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea libero, dolore totam unde iure, quo hic fugiat esse laborum porro quasi itaque. Obcaecati, cum voluptatum dolor nesciunt culpa deleniti commodi!</p>
           </div>
           <div class="redes">
            <a class="enlaces" href="https://www.linkedin.com/" target="_BLANK"><img class="linkedin" src="assets/img/iconos/linkedin.png" alt=""></a>
            <a class="enlaces" href="https://github.com/ricdasal" target="_BLANK"><img class="twitter" src="assets/img/iconos/twitter.png" alt=""></a>
            <a class="enlaces" href="https://twitter.com/lRichteryu" target="_BLANK"><img class="twitter" src="assets/img/iconos/correo.png"></a>          
          </div>
         </div>



         <div class="developer">
           <div>
            <img class="usuario user1" src="assets/img/fotosDevelopers/Diana.jpeg" alt="image">
           </div>
           <div class="informacion">
            <h5>Diana Ramírez</h5>
            <h6>Developer</h6>
            <p class="descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea libero, dolore totam unde iure, quo hic fugiat esse laborum porro quasi itaque. Obcaecati, cum voluptatum dolor nesciunt culpa deleniti commodi!</p>
           </div>
           <div class="redes">
            <a class="enlaces" href="https://www.linkedin.com/" target="_BLANK"><img class="linkedin" src="assets/img/iconos/linkedin.png" alt=""></a>
            <a class="enlaces" href="https://twitter.com/" target="_BLANK"><img class="twitter" src="assets/img/iconos/twitter.png" alt=""></a>
            <a class="enlaces" href="https://twitter.com/" target="_BLANK"><img class="twitter" src="assets/img/iconos/correo.png"></a>          
           </div>


         </div>
         <div class="developer">
           <div>
            <img class="usuario user1" src="assets/img/fotosDevelopers/Ronny_Andrade.jpeg" alt="image">
           </div>
           <div class="informacion">
            <h5>Ronny Andrade</h5>
            <h6>Developer</h6>
            <p class="descripcion" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea libero, dolore totam unde iure, quo hic fugiat esse laborum porro quasi itaque. Obcaecati, cum voluptatum dolor nesciunt culpa deleniti commodi!</p>
           </div>
           <div class="redes">
            <a class="enlaces" href="https://www.linkedin.com/" target="_BLANK"><img class="linkedin" src="assets/img/iconos/linkedin.png" alt=""></a>
            <a class="enlaces" href="https://twitter.com/" target="_BLANK"><img class="twitter" src="assets/img/iconos/twitter.png" alt=""></a>
            <a class="enlaces" href="https://twitter.com/" target="_BLANK"><img class="twitter" src="assets/img/iconos/correo.png"></a>          
          </div>
           

         
        </div>

        <div class="developer">
          <div>
            <img class="usuario user1" src="assets/img/fotosDevelopers/Arlette.jpeg" alt="image">
          </div>
          <div class="informacion">
            <h5>Arlette Cotrina</h5>
            <h6>Developer</h6>
           <p class="descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea libero, dolore totam unde iure, quo hic fugiat esse laborum porro quasi itaque. Obcaecati, cum voluptatum dolor nesciunt culpa deleniti commodi!</p>
          </div>
          <div class="redes">
            <a class="enlaces" href="https://www.linkedin.com/" target="_BLANK"><img class="linkedin" src="assets/img/iconos/linkedin.png" alt=""></a>
            <a class="enlaces" href="https://twitter.com/" target="_BLANK"><img class="twitter" src="assets/img/iconos/twitter.png" alt=""></a>
            <a class="enlaces" href="https://twitter.com/" target="_BLANK"><img class="twitter" src="assets/img/iconos/correo.png"></a>          

          </div>
          </div>
          </section>
          <br>
          <br>
          <br>
          