<mat-toolbar>
    <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" (click)="drawer.toggle()">
       <mat-icon>menu</mat-icon>
    </button>
    <span>Bienvenido {{nombreusuario}}</span>
  </mat-toolbar>
  
  <mat-drawer-container class="container-fluid" value="true">
    <mat-drawer #drawer value="side" class="pegaito">

        <button mat-stroked-button color="primary"  class="container-fluid espacio-boton" (click) = "drawer.close();inicio()">inicio</button><br>
        <button mat-stroked-button color="grey"  class="container-fluid espacio-boton" (click) = "drawer.close();mostrarReporte();">Reportes</button><br>
        <!--<button mat-stroked-button color="grey"  class="container-fluid espacio-boton" (click) = "drawer.close();mostrarEditarClientes();">Clientes</button><br>-->
        <button mat-stroked-button color="grey"  class="container-fluid espacio-boton" (click) = "cambiarAgregarProducto();drawer.close();">Agregar Productos</button><br>
        <a href="http://localhost:3001/users/logout"><button mat-stroked-button color="warn"  class="container-fluid espacio-boton" (click) = "drawer.close();">Log out</button></a><br>

       <!--aquí abajo se pueden agregar mas opciones--> 



    </mat-drawer>
    <mat-drawer-content>
      Aquí van las tablas y gráficas. Usar componentes para las gráficas <br>


      <app-reporte-productos *ngIf="!showreporte"></app-reporte-productos>
      <app-agregar-producto *ngIf="!showdubirproducto"></app-agregar-producto>
      <app-multiline *ngIf="!showmultiline"></app-multiline>
      <!-- <app-lista-productos *ngIf="!editarclientes"></app-lista-productos> -->
      <app-bar *ngIf="!showbar"></app-bar>
      <app-pie *ngIf="!showpie"></app-pie>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
 
    </mat-drawer-content>
  </mat-drawer-container>
  
