
<br>
<br>
<br>

<h1>NOTICIAS</h1>
<br>
<div class="container">
    <div class="items">
 
        <div *ngFor="let noticia of noticias" class="card noticiaIndividual">
          <div class="card-header">
            <h3>Novedades</h3>
          </div>

          <div class="informacion">
            <p class="titulo">{{noticia.title}}</p>
          </div>
          <img src="assets/img/noticia1img.PNG" alt="noticia1">
          <div class="informacion">
            <p>Explicamos por qué es tan vital elegir bien el lubricante y cambiarlo en los intervalos establecidos</p>
          </div>
        </div>
    
    </div> 

</div>

