<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
            <h1 class="card-title mb-3 text-center font-weight-bold">Nueva Lista</h1>
            <form ngNoForm method="POST" action="http://localhost:3001/users/lista">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Nombre" name="nombre"> </div>
                    </div>
                </div>
                
                
                
                
                <!-- <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group"> <input class="form-control" type="datetime-local" placeholder="Fecha de Nacimiento" name="fechanacimiento"> </div>
                        </div>
                    </div>
                </div> -->
                <button class="btn btn-primary btn-block confirm-button">Guardar</button>
            </form>
        </div>
    </div>
</div>

