<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf ='!showNav'>
    <div class="container-fluid" >
      <a class="navbar-brand web-version" routerLink="/index">Lubricantes Saldur</a>
      <a class="navbar-brand movil-version" routerLink="/index"><img src="assets/img/iconos/isotipo.png" alt="Lubricantes Saldur" width="50rem" height="47rem"></a>
      <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item" ngbDropdown>
                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
                  Menu
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                  <a routerLink="/index" fragment="QuienesSomos" ngbDropdownItem href="#" (click)="$event.preventDefault()">Quienes Somos</a>
                  <a routerLink="index" fragment="NuestroEquipo" ngbDropdownItem href="#" (click)="$event.preventDefault()">Nuestro Equipo</a>
                  <a routerLink="/productos" ngbDropdownItem href="#" (click)="$event.preventDefault()">Productos</a>
                  <!--<a routerLink="/noticias" ngbDropdownItem href="#" (click)="$event.preventDefault()">Noticias</a>-->
                  <a routerLink="/developers" ngbDropdownItem href="#" (click)="$event.preventDefault()">Developers</a>
                  <a routerLink="/contactenos" ngbDropdownItem href="#" (click)="$event.preventDefault()">Contáctenos</a>
                </div>
              </li>

        </ul>

        <form class="d-flex">
          <button routerLink="/login" id="busqueda" class="btn btn-secondary my-2 my-sm-0">Login</button>
          <button routerLink="/signup" id="busqueda" class="btn btn-secondary my-2 my-sm-0">Sign up</button>
          <button routerLink="/carrito" class="btn btn-secondary my-2 my-sm-0"><img src="https://cdn-icons-png.flaticon.com/512/107/107831.png" class= "tamano_img" alt="carrito compras"></button>
        </form>

      </div>
      
    </div>
</nav>
      


