<div class="footer">
            
    <img  fragment="main" src="assets/img/iconos/logo-20.png" alt="saldur" class="web-version">
    <img  src="assets/img/iconos/isotipo.png" alt="saldur" class="movil-version">
    <div class="contactenos" data-intro="Aqui encontrarás los contactos directos" data-step="4">
      <h6>Contáctenos</h6>
      <p><img src="assets/img/iconos/whatsapp.png" alt="whatsapp: " width="15em">  +593 999 999 999 <br>
      <img src="assets/img/iconos/correo.png" alt="correo: " width="15em">  lubricantessaldur@gmail.com</p>
    
    </div>
    <div class="redesSociales" data-intro="Aquí puedes encontrar nuestras redes sociales." data-step="3">
      <h5>Redes Sociales</h5>
      <div>
        <img src="assets/img/iconos/linkedin.png" alt="image">
        <img src="assets/img/iconos/instagram.png" alt="image">
        <img src="assets/img/iconos/facebook.png" alt="image" class="fb-icon" height="25rem">
      </div>
      
    </div>
  </div>

  <div class="lightbox">
    
  </div>
